.about {
  padding: 80px 0;
  
  &-content {
    padding: 0 16px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @include from(m_tablet) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__info {
      width: 100%;
      font-family: $secondary-font;

      @include from(s_tablet) {
        max-width: 640px;
      }
    }

    &__info--text {
      margin-bottom: 24px;
      font-family: 18px;
    }

    &__info--values {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      

      &-item {
        display: flex;
        align-items: center;
        column-gap: 4px;
      }
    }

    &__img {
      width: 100%;
      position: relative;
      
      @include from(s_tablet) {
        width: 40%;
      }
      
      img {
        display: block;
        border: 2.7px solid #000;
        border-radius: 8px 16px 8px 16px;
      }

      &--title {
        font-family: $secondary-font;
        font-weight: bold;
        padding: 12px 48px;
        border: 2.7px solid black;
        border-radius: 8px 16px 8px 16px;
        background-color: #fff;
        position: absolute;
        left: -10px;
        bottom: -24px;
      }
    }
  }
}