.header {
  // position: sticky;
  top: 0;
  z-index: 10;
  background-color: $bg-main-color;
  // border-bottom: 2px solid $ninth-color;
}

.header-content {
  display: flex;
  padding: 16px 16px;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 740px) {
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
    //width: 100%;

    @include from(s_tablet) {
      width: unset;
    }

    &--img {
      display: flex;
      justify-content: start;
      width: 100%;

      @include from(s_desktop) {
        width: 170px;
      }
    }
  }

  &__cta {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 17px;
      height: 17px;

      @include from(s_desktop) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__icon {
    color: $fifth-color;
    font-size: 35px;
    margin-right: 94px;
  }

  &__img {
    width: 96px;
    height: 48px;
    aspect-ratio: auto;

    @include from(s_desktop) {
      width: 176px;
      height: auto;
    }

    img {
      max-width: 100%;
    }
  }

  &__info {
    &--list {
      display: none;
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      margin-top: 0;

      @media (min-width: 940px) {
        display: flex;
      }

      &-item a {
        color: $fifth-color;
        text-decoration: none;
        margin-right: 50px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: normal;
        font-family: $primary-font;

        &:hover {
          color: $third-color;
        }

        @media (min-width: 1200px) {
          margin-right: 100px;
        }
      }
    }
  }

  &__language {
    color: $fifth-color;
    font-size: 24px;
    margin-right: 48px;
  }
}

.header-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: center;
  align-items: center;
  margin-left: 20px;

  @media (min-width: 600px) {
    flex-direction: row;
    column-gap: 5px;
  }

  @include from(s_desktop) {
    margin-left: 37px;
  }
}
