html {
  touch-action: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll; /* añade desplazamiento vertical */
  -webkit-overflow-scrolling: touch; /* habilita eventos táctiles */
}

body {
  font-family: 'Kanit', sans-serif;
  background-color: $primary-color;
}

.max-container {
  max-width: 1280px;
  margin-left: 1rem;
  margin-right: 1rem;

  @include from(m_tablet) {
    margin-left: auto;
    margin-right: auto;
  }
}

.heading__content {
  text-transform: uppercase;
  font-weight: bold;
}

.iframe-general-top {
  border: none;
  width: 99.99%;
}

.content-heading {
  display: flex; 
  column-gap: 8px;
}